
  <ul class="alert-errors list-unstyled m-4">
    <li class="alert alert-danger alert-dismissible fade show shadow rounded" role="alert">
      <span class="mt-1">messaggio di errore</span>
      <button type="button" class="btn-close btn btn-sm px-2 py-1 mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
    </li>
  </ul>