<div class="v2">
  <%= render 'layouts/aurora_background' %>
  <%= render 'layouts/navbar_v2' %>

  <main class="v2-main">
    <%# Hero %>
    <header class="v2-hero">
      <div>
        <h1 class="v2-hero-title">Impostazioni Account</h1>
        <span class="v2-hero-sub"><%= @user.full_name %></span>
      </div>
    </header>

    <%# Form card %>
    <div class="v2-edit-card">
      <div id="_error_messages"></div>

      <%= render "form",
                 user: @user,
                 modal_id: nil,
                 path: user_path(@user),
                 method: :patch
      %>
    </div>
  </main>
</div>
