<div class="v2-aurora">
  <div class="v2-aurora-blob v2-aurora-1"></div>
  <div class="v2-aurora-blob v2-aurora-2"></div>
  <div class="v2-aurora-blob v2-aurora-3"></div>
</div>
<div class="v2-grid-overlay"></div>
